*{
    padding: 0px;
    margin: 0px;
}
#schedule_bg{
    background: url('/public/blue-pc-wallpaper-23m5hqixeq44mv6d.png');
    border-radius: 10px;
}
html {
    scroll-behavior: smooth;
}
#menu{
    transition: 1s ease-in-out;
}
.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  text-align: center;
  scale: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  background-color:transparent;
  border-radius: 8px;
}

.menu li {
  padding-top: 5px;
}
.menu li:hover{
  color: rgb(1, 217, 255);
}

.menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu.show {
  max-height: fit-content;
  scale: 1;
}

.hide {
  display: block;
}

.down_arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}