*{
    padding: 0px;
    margin: 0px;
}
#schedule_bg{
    background: url('/public/blue-pc-wallpaper-23m5hqixeq44mv6d.png');
    border-radius: 10px;
}
details > summary{
    color: rgb(1, 46, 90);
}
#menu{
    transition: 1s ease-in-out;
}
.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
  background-color: #cccccc;
  border-radius: 8px;
}

.menu li {
  padding: 12px 15px;
  border-bottom: 1px solid #444;
}

.menu li a {
  color: rgb(45, 44, 44);
  text-decoration: none;
}

.menu.show {
  max-height: 300px;
  opacity: 1;
}

.hide {
  display: block;
}